<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Test"></Label>
</ActionBar>

<GridLayout rows="auto,48,*" columns="*" class="page p-24">
    <StackLayout row="0" col="0">
        <filter-component
                (add)="addHome($event)"
                (filter)="changeFilter($event)">
        </filter-component>
    </StackLayout>

    <Label row="1" [text]="'Anzahl homes: '+(numberOfHomes$|async)"></Label>

    <StackLayout row="2" col="0">
        <app-list-component
                [homes]="filteredHomes$|async"
                [loading]="loading$ | async"
                (deleteHome)="deleteHome($event)"
                (updateHome)="updateHome($event)">
        </app-list-component>
    </StackLayout>

</GridLayout>